@tailwind base;
@tailwind components;
@tailwind utilities;

.alo{
    background-image: url('../../assets/bgsite.jpg');
    background-size: cover;
    height: 900px;
    background-position: bottom;
    background-attachment: fixed
}